
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#quote-box {
  width: 500px;
  height: auto;
  background-color: rgb(57, 99, 179);
  font-family: Roboto;
  border-radius: 10%;
  padding: 20px;
}

#text {
  font-size: 30px;
  color: white;
  text-align: center;

}

#author {
  color: white;
  text-align: right;
  font-size: 20px;
}

body {
  background-color: #39b388;

}

#buttons {
  text-align: right;
}

#new-quote {
  margin: 5px;
}


